.form {
  display: inline-flex;
  flex-flow: column;
  text-align: left;
}

.control {
  margin-bottom: 20px;
}

.group {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.findLink {
  font-size: 1rem;
  line-height: 1.388;
  color: #0074e9;
  text-decoration: none;
}

.findLinkArrow {
  margin-left: 6px;
  vertical-align: -3px;
}

.buttonGroup {
  margin-top: 42px;
}

.button {
  width: 100%;
}

fieldset {
  padding: 0;
  border: none;
}
